@reference "tailwindcss";
/* .my-paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  @apply text-base;
  line-height: 24px;
  letter-spacing: 0;
  color: #101010;

  margin-top: 16px;
} */
.my-paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  @apply text-sm;
  line-height: 24px;
  letter-spacing: 0;
  color: gray;
  margin-bottom: 20;

}

.force-line {
  display: block;
  margin-top: 4px;
}

/* .my-paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  @apply text-base;
  line-height: 24px;
  letter-spacing: 0;
  color: #101010;
} */

/* .force-line {
  display: block;
  margin-top: 4px;
} */
/* .my-paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  @apply text-base;
  line-height: 24px;
  letter-spacing: 0;
  color: #101010;
} */

/* .force-line {
  display: block;
  margin-top: 4px;
} */
/* .my-paragraphh {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  @apply text-base;
  line-height: 24px;
  letter-spacing: 0;
  color: #101010;
  margin-top: 15px;
} */
